set default="0"
set timeout="10"

loadfont /grub/fonts/unicode.pf2

set gfxmode=auto
set gfxpayload=keep
insmod efi_gop
insmod efi_uda
insmod gfxterm
insmod gfxmenu
insmod jpeg
insmod png

terminal_output gfxterm

set theme=${prefix}/themes/starfield/theme.txt

menuentry "JARVIS OS Live x86_64" {
    linux /%INSTALL_DIR%/boot/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archiso_loop=sda archisomount=LABEL=JARVIS_OS quiet splash loglevel=3
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/initramfs-linux-lts.img
}

menuentry "JARVIS OS Live (Safe Mode)" {
    linux /%INSTALL_DIR%/boot/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archiso_loop=sda archisomount=LABEL=JARVIS_OS nomodeset xdriver=vesa
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/initramfs-linux-lts.img
}

menuentry "Boot from existing OS" {
    chainloader (hd0)+1
}

menuentry "UEFI Firmware Settings" {
    fwsetup
}
